*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ECB684;
    overflow-x: hidden;
    overflow-y: hidden;
}
header{
    background-color: #E97955;
}
li {
    display: inline-block;
    margin: 10px;
    font-size: 120%;
}
nav {
    position: absolute;
    right: 0px;
    margin-top: -55px;
}
h1{
    padding-top: 15px;
    margin-left: 40px;
    padding-bottom: 15px;
}
#play-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#play-btn a{
    background: rgba(255, 255, 255, 0.35);
    color: black;
    font-size: 32px;
    padding: 15px;
    padding-left: 55px;
    padding-right: 55px;
    text-decoration: none;
}
.square{
    width: 285px;
    height: 370px;
    border-radius: 10%;
}
.white-square{
    background-color: white;
}
.grey-square{
    background-color: gray;
}
.square h2{
    text-align: center;
    position: absolute;
    top: 45%;
    left: 45%;
    font-size: 32px;
}
#d{
    position: absolute;
    right: 5px;
    rotate: 35deg;
    top: 60%;
}
#c{
    position: absolute;
    left: 15%;
    rotate: 15deg;
    top: 55%; 
}
#e{
    z-index: -1;
    position: absolute;
    left: 30%;
    rotate: 40deg;
    top: -14%; 
}
#a{
    position: absolute;
    left: -5%;
    rotate: -25deg;
    top: 15%; 
}
#b{
    z-index: -1;
    position: absolute;
    right: 17%;
    rotate: -10deg;
    top: -10%;
}
#f{
    position: absolute;
    right: 30%;
    rotate: -15deg;
    bottom: -10%;
}
#theme {
    text-align: center;
    width:200px;
    height: 100px;
    margin:auto;
    margin-top: 2%;
    font-size: 120%;
    background-color: #ffffff88;
}
.scenario {
    width: 50%;
    height: 70px;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #ffffff88;
    text-align: center;
}
.bleu_1 {
    background-color: #94D8CC;
}
.vert_1 {
    background-color: #9EDC88;
}
footer{
    position: absolute;
    width: 100%;
    padding: 15px;
    background-color: #E97955;
    bottom: 0px;
}
footer a{
    font-size: 18px;
    color: white;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
footer.vert_1 {
    position:relative;
    width: 100%;
    padding: 15px;
    margin-top: 2%;
}
.mentions {
    text-align: center;
}
div a {
    text-decoration: none;
    color: black;
    font-size: 150%;
}